    * {
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    body {
      margin: 0;
      background: #fff;
      display: flex;
      justify-content: center;
      padding: 40px;
    }

    /* Main container */
    .container {
      width: 900px;
      text-align: center;
    }

    h1 {
      font-size: 48px;
      margin-bottom: 30px;
      text-align: start;
    }

    /* Priority legend */
    #legend {
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
      margin-bottom: 40px;
    }

    #legend p {
      padding: 12px 30px;
      border-radius: 20px;
      color: #000;
      font-weight: bold;
      margin: 0;
      width: 150px;

    }

    #legend .critical { background-color: #FA3F3F; }
    #legend .high { background-color: #FFB641; }
    #legend .medium { background-color: #FEF732; }
    #legend .low { background-color: #56E44F; }

    /* Form card */
    .fill-up{
      display: flex; 
      justify-content: center;
      gap: 20px; 
    }
    form {
      background: #f2f2f2;
      padding: 30px 40px;
      border-radius: 20px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 40px;
    }

    /* Form groups */
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      text-align: left;
    }

    label {
      margin-bottom: 8px;
      font-weight: 500;
    }

    select {
      padding: 10px 14px;
      border-radius: 999px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 14px;
      width: min-content;
    }

    /* Submit button */
    .submit-wrapper {
      grid-column: 1 / -1; /* spans both columns */
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
    }

    button {
      padding: 10px 28px;
      border-radius: 999px;
      border: none;
      background: #00c2e0;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 6px 12px rgba(0,0,0,0.2);
      margin-top: 20px;
     
      
    }

    button:hover {
      opacity: 0.9;
    }
.result-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: -400px;
}

#AssignedLegend {
  width: 300px;
  height: 200px;
  background-color: aliceblue;
  display: none;          /* hidden initially */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  font-size: x-large;
  font: bold;
}
